name: CI for compilation using docker CMSIS
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: kamda314/stm32l476rg_compiler_v2:latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # The goal of this line is to fix "cannot read nosys.specs file"
      # The error occurs because the docker is not well configured at 100%
      - name: Install ARM toolchain packages
        run: |
          apt-get update
          apt-get install -y gcc-arm-none-eabi libnewlib-arm-none-eabi binutils-arm-none-eabi

      - name: Build blinky
        run: make -C blinky CMSIS_DIR="/cmsis" all

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: blinky-cmsis-build
          path: blinky 

